.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transition: opacity 0.6s ease;
}