.card__container{
  max-width: 246px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 26px;
}