.popup__form-btn {
    width: 100%;
    margin-top: 15px;
    background: #000000;
    border-radius: 2px;
    color: #fff;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 14px 0;
    cursor: pointer;
    transition: 0.2s;
    border: none;
}

.popup__form-btn:hover {
    opacity: 0.8;
}