.popup__btn-close{
  border: none;
  background: none;
  background-image: url(../../../images/CloseBtnIcon.svg);
  max-width: 32px;
  width: 100%;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  right: -36px;
  top: -36px;
  transition: 0.2s;
}

.popup__btn-close:hover{
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .popup__btn-close {
    right: 0;
    max-width: 20px;
    min-height: 20px;
  }
}

