.profile__button-add{
  max-width: 150px;
  width: 100%;
  background-color: #000000;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(../../../images/buttonAddProfile.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
  transition: 0.2s;
}

.profile__button-add:hover{
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .profile__button-add {
    margin: 10px auto 0 auto;
    max-width: 282px;
    background-image: url(../../../images/buttonProfile.svg);
  }
}
