@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font.css);
@import url(../blocks/page/page.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__btn-close/popup__btn-close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form-btn/popup__form-btn.css);
@import url(../blocks/popup/__form-input/popup__form-input.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_is-opened/popup_is-opened.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__ava/profile__ava.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-job/profile__info-job.css);
@import url(../blocks/profile/__info-name/profile__info-name.css);
@import url(../blocks/profile/__info-edit/profile__info-edit.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__container/card__container.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__title/card__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__info/footer__info.css);

