.card__like{
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  max-width: 22px;
  width: 100%;
  min-height: 19px;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/like.svg);
  transition: 0.2s;
}

.card__like:hover{
  opacity: 0.5;
}
