.profile__info-edit{
  background-color: black;
  background-image: url(../../../images/editBotton.svg);
  border: 1px solid white;
  max-width: 24px;
  width: 100%;
  min-height: 24px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s;
}

.profile__info-edit:hover{
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .profile__info-edit {
    max-width: 18px;
    min-height: 18px;
    align-items: flex-start;
  }
}
